.spell-item {
  display: flex;
  /* padding: 5px 8px; */
  /* border: 2px solid grey; */
  border-radius: 15px;
  padding-left: 4px;
  padding-top: 4px;


}

.spell-item .spell-item__link {
  display: flex;
  align-items: center;
  /* box-sizing: content-box; */
  padding: 4px 4px;
  gap: 8px;
  color: inherit;
}

.spell-item .spell-item__link:hover {
  text-decoration: underline;
}

.spell-item__link:focus {
  outline: 4px solid #01aef4;
  border-radius: 5px;
}

.spell-item__concentraion-icon {
  width: 20px;
  height: 20px;
}

.spell-item__school__image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
